---
import style from "../styles/sections/benefitssection.module.css";
import benefits from "../config/dataBenefits";
import CardBenefits from "../components/ui/CardBenefits.astro";
import { sequence } from "astro:middleware";
---

<section class={style.benefits}>
  <div class={style.contentBenefits}>
    <div class={style.contentHB}>
      <div class={style.badgeBenefits}>
        <p class={style.badgeBenefitsText}>Resultados tangibles</p>
      </div>
      <h2 class={style.badgeBenefitsTitle}>
        Lo que logras al trabajar con <span class={style.badgeBenefitsResalt}
          >Bravvo</span
        >
      </h2>
      <span class={style.badgeBenefitsSubtitle}
        >No prometemos magia. Estos son resultados reales de empresarios que
        decidieron poner orden en su negocio.</span
      >
      <div class={style.contentBenefitsCards}>
        {
          benefits.map((b) => (
            <CardBenefits
              icon={b.icon}
              title={b.title}
              subtitle={b.subtitle}
              description={b.description}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
