---
import style from "../../styles/components/ui/cardService.module.css";

const {
  id,
  typeService,
  icon,
  title,
  description,
  outcomes = [],
} = Astro.props;
---

<div class={id === 2 ? style.cardServiceVip : style.cardService}>
  <span class={id === 2 ? style.typeServiceVip : style.typeService}
    >{typeService}</span
  >
  <div class={style.contentService}>
    <div
      class={id === 2 ? style.iconServiceVip : style.iconService}
      set:html={icon}
    />
    <h3 class={id === 2 ? style.titleServiceVip : style.titleService}>
      {title}
    </h3>
    <span
      class={id === 2 ? style.descriptionServiceVip : style.descriptionService}
      >{description}</span
    >
    <ul class={id === 2 ? style.listServiceVip : style.listService}>
      {outcomes.map((o: string) => <li>{o}</li>)}
    </ul>
  </div>
</div>
